/* 첫번쨰 과제 */
.main {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

.main2 {
    display: flex;
}

.sub{
    margin-right: 10px;
}


/* 두번째 과제 */

.main-1 {
    display: flex;
    flex-direction: column;
}

.box-1 {
    width: 100px;
    height: 100px;
    background-color: #AAB9FF	;
    color: blue;
}

.center {
    align-self: center;
}

.end {
    align-self: flex-end;
}


/* 세번째 과제 */


.main-2 {
    display: flex;
    justify-content: center;
}

.outbox {
    width: 200px;
    height: 200px;
    background-color: #FAFA96;
    color: #323232	;
    position: relative;
}

.box-2 {
    width: 100px;
    height: 100px;
    background-color: #9932CC;
    color: white;
}

.in {
    position: absolute;
    left: 50px;
    top: 50px;
}


/* 네번째 과제 */

.box-3 {
    width: 100px;
    height: 100px;
    background-color: #FFA778;
    color: white;
}

.color {
    background-color: #D27328;
}

.side {
    position: relative;
    left: 50px;
    top: -50px;
}


/* 다섯번째 과제 */


.big-box {
    width: 500px;
    height: 200px;
    background-color: #646EFF;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.box-4 {
    width: 100px;
    height: 100px;
    background-color: #CBB8EE;
    color: white;
}

.left {
    position: absolute;
    top: 0;
    right: 0;
}

.right {
    position: absolute;
    bottom: 0;
    left: 0;
}