/* 다섯번째 과제 */


.big-box {
    width: 500px;
    height: 200px;
    background-color: #646EFF;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.box-4 {
    width: 100px;
    height: 100px;
    background-color: #CBB8EE;
    color: white;
}

.left {
    position: absolute;
    top: 0;
    right: 0;
}

.right {
    position: absolute;
    bottom: 0;
    left: 0;
}